################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TDDProject/bin/Debug
/.vs/TDDDemo/v16/Server/sqlite3
/.vs/TDDDemo/v16/TestStore/0
/.vs/TDDDemo/v16/.suo
/packages
/TDDProject/obj/Debug
/TTDDemoTests
*.sqlite
/.vs/TDDDemo/config
/.vs/VSWorkspaceState.json
/TDDDemo.Employee.DataAccess/bin/Debug
/TDDDemo.Employee.DataAccess/obj/Debug
/TDDDemo.Employee.DataAccess.Tests/bin/Debug
/TDDDemo.Employee.DataAccess.Tests/obj/Debug
/TDDDemo.Employee.DataAccess.Tests/obj/Release
/TDDDemo.Employee.Modals/bin/Debug
/TDDDemo.Employee.Modals/obj/Debug
/TDDDemo.EmployeeDataAcess/bin/Debug
/TDDDemo.EmployeeDataAcess/obj/Debug
/TDDDemo.EmployeeManagement/bin
/TDDDemo.EmployeeManagement/obj/Debug
/TDDProject/obj/Release
/TTDDemo.EmployeeBusiness/bin/Debug
/TTDDemo.EmployeeBusiness/obj/Debug
