################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TDDProject/bin/Debug
/.vs/TDDDemo/v16/Server/sqlite3
/.vs/TDDDemo/v16/TestStore/0
/.vs/TDDDemo/v16/.suo
/packages
/TDDProject/obj/Debug
/TTDDemoTests
*.sqlite
